@import "tailwindcss";

@layer utilities {
    /* Esta nova classe 'scrollbar-hide' fará a mesma coisa */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}